/* Reset osnovnih stilova */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Iza svih ostalih elemenata */
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Da video popuni celu pozadinu */
}

.weather-container {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
  padding: 20px; /* Dodajemo padding da se elementi ne lepe za ivice ekrana */
  box-sizing: border-box; /* Uključuje padding u ukupnu dimenziju */
  z-index: 1; /* Postavi iznad videa */
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
  z-index: 2; /* Za sigurno prikazivanje */
}

.temperature {
  font-size: 4rem; /* Velika veličina fonta */
  font-weight: bold;
  margin: 0;
  color: rgba(255, 255, 255, 0.7); /* Smanjen opacity za izbledeli izgled */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Manji shadow za blaži efekat */
}

.location {
  font-size: 1.5rem; /* Srednja veličina fonta */
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7); /* Smanjen opacity */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2; /* Za sigurno prikazivanje */
}

.time-bar-container {
  position: relative;
}

.time-bar {
  position: relative;
  width: 33%; /* Full width of the container */
  height: 80px; /* Height of the bar */
  overflow-x: hidden; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  margin: 15px auto;
  border-radius: 3px;
  display: flex;
  flex-direction: row; /* Arrange lines horizontally */
  justify-content: flex-start;
  align-items: end;
  cursor: pointer; /* Show grab cursor */
}

.line {
  width: 2px;
  height: 30px; /* Height of all lines (hours) */
  background-color: white;
  margin: 0 20px; /* Spacing between each hour */
}

.current-time-line {
  position: absolute;
  height: 70px; /* Bigger height than other lines */
  width: 2px; /* Same width as other lines */
  background-color: white; /* Same color as other lines */
  top: -10px; /* Adjusted position for alignment */
  z-index: 10; /* Ensure it is on top */
  transform: translateY(10px); /* Adjust placement within the time bar */
}

.line.medium-highlight {
  height: 50px; /* Medium height */
}

.line.highlight {
  height: 80px;
}

.time {
  font-size: 1rem;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-label {
  font-size: 1rem;
  font-style: italic;
  margin-top: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}